
{% set nav = {
    editar_perfil:    { title: "Perfil", path: "editar_perfil", params: {user:app.user.nick} },
    mis_comentarios:  { title: "Comentarios", path: "mis_comentarios", params: {user:app.user.nick} }
} %}

{% for item in nav %}
    <li class="tab_item {{ app.request.attributes.get('_route') == item.path ? 'active' : '' }}"><a href="{{ path(item.path,item.params) }}">{{ item.title }}</a></li>
{% endfor %}
