
<div class="episode-card">
  {# Episode Card Foreground #}
  <div class="episode-card-foreground">
    <a href="#" class="episode-card-bg"></a>
    <div class="episode-card-content">
      <a href="#" class="episode-card-owner">
        <img src="http://static-1.ivoox.com/img/dummy/haz_deporte.png" alt="" class="img-responsive"/>
      </a>
      <div class="episode-card-classification">
        <p class="episode-card-program">
          Episodio en <a href="#"  class="episode-card-program-name">Meripodcast</a>
        </p>
        <div class="episode-card-tags">
          <a href='#' class="episode-card-tag">E3</a>
          <a href='#' class="episode-card-tag">Semue</a>
        </div>
      </div>
      <div class="episode-card-details">
        <h3 class="episode-card-title">Merippodcast ,XBOX one</h3>
        <a href='#' class="episode-card-category">Videojuegos</a>
      </div>
      <div class="episode-card-other-details">
        <a href="#"><span class="fa fa-thumbs-o-up"></span> &nbsp; 34</a>
        <a href="#"><span class="fa fa-comment-o"></span> &nbsp; 10 </a>
        <a href="#"><span class="fa fa-cloud-upload"></span>&nbsp; 3 días</a>
      </div>
      <div class="episode-card-actions">
        <a href="#" class="episode-card-play"><span class="fa fa-play-circle-o"></span> &nbsp; Reproducir</a>
        <a href="#" class="episode-card-plus"><span class="fa fa-plus-circle"></span></a>
      </div>
    </div>
  </div>
  {# Episode Card BackGround #}
  <div class="episode-card-backface">
    <ul class="list-unstyled list-group" role="list">
      <li role="listitem" class="list-group-item text-left text-capitalize">
        <span>Añadir a ...</span><span class="fa fa-close fa-lg fa-pull-right"></span>
      </li>
      <li role="list">
        <a href="#" title="Nueva Lista" class="list-group-item list-group-item-warning text-left">
          <span class="fa fa-warning fa-lg"></span>&nbsp;
          <span class="list-group-item-text">Es necesario <strong>identificarse</strong> o <strong>registrarse</strong></span>
        </a>
      </li>
      <li role="list">
        <a href="#" title="Nueva Lista" class="list-group-item disabled text-left">
          <span class="fa fa-eye fa-lg"></span>&nbsp;
          <span class="list-group-item-text">Nueva Lista</span>
        </a>
      </li>
      <li role="list">
        <a href="#" title="A lista existente" class="list-group-item disabled text-left">
          <span class="fa fa-eye fa-lg"></span>&nbsp;
          <span class="list-group-item-text">A lista existente</span>
        </a>
      </li>
      <li role="list" >
        <a href="#" title="Escuchar más tarde" class="list-group-item disabled text-left">
          <span class="fa fa-eye fa-lg"></span>&nbsp;
          <span class="list-group-item-text">Escuchar más tarde</span>
        </a>
      </li>
      <li role="list">
        <a href="#" title="Compartir" class="list-group-item disabled text-left" >
          <span class="fa fa-eye fa-lg"></span>&nbsp;
          <span class="list-group-item-text">Compartir</span>
        </a>
      </li>
    </ul>
  </div>
</div>