<p><a rel="nofollow" href="#" class="btn btn-app-store">
<span class="fui-apple"></span>&nbsp;
Disponible en <strong>APP STORE</strong></a>
</p>
<p><a rel="nofollow" href="#" class="btn btn-play-store">
<span class="fui-android"></span>
Disponible en <strong>PLAY STORE</strong>
</a></p>
<p><a rel="nofollow" href="#" class="btn btn-windows-phone">
<span class="fui-windows-8"></span>
Disponible en <strong>WINDOWS PHONE</strong>
</a></p>