<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-6">
                <h3>juzz</h3>
                <ul>
                    <li><a href="#" rel="nofollow">Quiénes somos</a></li>
                    <li><a href="#" rel="nofollow">FAQs</a></li>
                    <li><a href="#" rel="nofollow">Condiciones legales</a></li>
                    <li><a href="#" title="Histórico de audios, radios y podcasts">Histórico</a></li>
                    <li><a href="#" title="Se busca en google">Se busca en google</a>
                    </li>
                    <li><a href="#" rel="nofollow">Ranking podcast</a></li>
                    <li><a href="#" rel="nofollow">Contacto</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <h3>Comunidad</h3>
                <ul>
                    <li><a href="#" rel="nofollow">Muro</a></li>
                    <li><a href="#" rel="nofollow">Grupos</a></li>
                    <li><a href="#" rel="nofollow">Audios que gustan</a></li>
                    <li><a href="#" rel="nofollow">Audios comentados</a></li>
                    <li><a href="#" rel="nofollow">Usuarios</a></li>
                </ul>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <h3>Te sugerimos</h3>
                <ul>
                    <li><a href="#" title="Ivoox Magazine">Juzz Magazine</a></li>
                    <li><a href="#" title="Cadena 100 en directo">Cadena 100 en directo</a></li>
                    <li><a href="#" title="Canal fiesta radio">Canal fiesta radio</a></li>
                    <li><a href="#" title="Cadena Ser en directo">Cadena Ser en directo</a></li>
                    <li><a href="#" title="escuchar M80 radio">M80 en directo</a></li>
                    <li><a href="#" title="Rock FM online">Rock FM online</a></li>
                </ul>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <h3>Cuentas PRO</h3>
                <ul>
                    <li><a href="#">Oyente Premium</a></li>
                    <li><a href="#">Publicación PRO</a></li>
                </ul>
                <h3>Descarga nuestra App</h3>
                {% include '::partials/apps-buttons.html.twig' %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h3 class="text-center">Últimos posts del blog</h3>
        <div class="row">
            <div class="col-md-4">
                <p><a href="#" rel="bookmark" title="Permanent Link to ¿Es necesaria la publicidad en iVoox?">¿Es necesaria la publicidad en juzz?</a></p>
                <p class="date">miércoles, 10 de febrero de 2016</p>
            </div>
            <div class="col-md-4">
                <p><a href="#" rel="bookmark" title="Permanent Link to Lo más popular en iVoox en 2015">Lo más popular en iVoox en 2015</a></p>
                <p class="date">jueves, 07 de enero de 2016</p>
            </div>
            <div class="col-md-4">
                <p><a href="#" rel="bookmark" title="Permanent Link to Premio Honorífico en las JPOD y Premio Emprende de RTVE">Premio Honorífico en las JPOD y Premio Emprende de RTVE</a></p>
                <p class="date">jueves, 29 de octubre de 2015</p>
            </div>
        </div>
        <p class="text-center"><a href="http://www.ivoox.com/blog" class="btn btn-success">Ir al blog &nbsp;<span class="fui-export"></span></a></p>
    </div>
    <div class="container-fluid">
        <div class="text-center">
            <a href="http://twitter.com/ivoox" rel="nofollow" title="Twitter" class="btn btn-social-icon btn-twitter"><span class="fui-twitter"></span></a>
            <a href="http://www.facebook.com/home.php#/pages/iVoox/52495827143?sid=854be7de4ba36b8a5e247910c5f3d7c2&amp;ref=search" rel="nofollow" title="Facebook" class="btn btn-social-icon btn-facebook"><span class="fui-facebook"></span></a>
            <a href='#' rel="nofollow" title="Google Plus" class="btn btn-social-icon btn-google"><span class="fui-google-plus"></span></a>
        </div>
    </div>
    <div class="container-fluid">
    	<div class="text-center">
    		<img src="http://static-1.ivoox.com/img/logo-white.png" alt="iVoox">
    		<p>&copy; 2016</p>
    	</div>
    </div>
    
</footer>