<ul class="nav navbar-nav navbar-left">
    <li class="active">
        <a href="{{route}}">Inicio</a>
    </li>
    <li>
        <a href="#">Explorar</a>
    </li>
    <li class="hidden-xs">
        <a data-toggle="collapse" data-target="#searchbar">
            <span class="fui-search"></span>&nbsp;
            <span class="hidden-sm">Buscar</span>
        </a>
    </li>
</ul>