<div id="searchbar" class="container collapse" data-target="#words" data-baseurl="http://www.ivoox.com/">
    <form id="buscador" method="get" action="">
        <div class="col-md-8">
            <p class="visible-lg visible-md">
                Busca podcasts, programas, episodios, canales, radios online, usuarios...
            </p>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" id="search">
                <span class="input-group-btn">
                    <button type="submit" class="btn"><span class="fui-search"></span></button>
                </span>
            </div>
        </div>
    </form>
</div>