<div class="social-buttons row text-center">
    <div class="col-md-12">
		{#<a class="btn btn-social btn-facebook" rel="nofollow" href="{{ url('facebook_login') }}">
			<span class="fui-facebook"></span> Iniciar Sesión con Facebook
		</a>#}
		{% render(controller('HWIOAuthBundle:Connect:connect')) %}
		
    </div>
</div>