<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        <meta name='include_mode' content='async'>
        <title>{% block title %}{% endblock %} | juzz</title>
        {% block stylesheets %}
          <link rel="stylesheet" type="text/css" href="{{ asset('css/master.css') }}">
          <link rel="stylesheet" type="text/css" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}">
          <link rel="stylesheet" href="{{ asset('css/style.css') }}" charset="utf-8">

        {% endblock %}
        {% block fonts %}
          <link href='https://fonts.googleapis.com/css?family=Comfortaa:400,700,300' rel='stylesheet' type='text/css'>
        {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}" />

</head>
<body>
  {#  Header  #}
  {% include '::partials/header.html.twig' %}
  <main>
    {% block main %}{% endblock %}
  </main>
  {# Footer #}
  {% include '::partials/footer.html.twig' %}
  
  {% block javascripts %}
    {% include '::partials/javascripts.html.twig' %}
  {% endblock %}
</body>
</html>
