<div class="social-buttons row text-center">
    <div class="col-md-12">
		<a class="btn btn-social btn-facebook" rel="nofollow" href="{{ url('dcs_opauth_connect', {'strategy' : 'facebook'}) }}">
			<span class="fa fa-facebook"></span> Iniciar Sesión con Facebook
		</a>
		<a class="btn btn-social btn-twitter" rel="nofollow" href="{{ url('dcs_opauth_connect', {'strategy' : 'twitter'}) }}">
			<span class="fa fa-twitter"></span> Iniciar Sesión con Twitter
		</a>
		<a class="btn btn-social btn-google" rel="nofollow" href="{{ url('dcs_opauth_connect', {'strategy' : 'google'}) }}">
			<span class="fa fa-google"></span> Iniciar Sesión con Google +
		</a>
    </div>
</div>