
/*css to add back colours for badges and make use of the colours*/
.badge-default {background-color: $gray;}
.badge-primary {background-color: $brand-primary;}
.badge-success {background-color: $brand-success;}
.badge-info {background-color: $brand-info;}
.badge-warning {background-color: $brand-warning;}
.badge-danger {background-color: $brand-danger;}