/*
  Estilo Botones
  ================
*/

.btn-default {
  color: #FFF !important;
  background-color:#3cb371;
  border: none;
  box-shadow: 0 2px #297a4d;
  &:hover {
    background-color:#297a4d;
  }
}

.btn-transparent {
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 5px;
  text-transform: uppercase;
  height: 42px;
  max-width: 300px;
  margin-top: -2px;
  background: transparent;
  transition:all .4s ease-out;
  &:active {
    outline: none !important;
  }
  &:hover {
    color: #297a4d;
    box-shadow: #fff 300px 0px 0 inset;
  }
}
