{% extends 'juzzUsuariosBundle:Accounts:base.html.twig' %}
{% trans_default_domain 'juzzUsuariosBundle' %}

{% block cardContent %}
	<p>{{'registration.check_email'| trans({'%email%': user.email}) }}</p>

{% endblock %}
    
