{% extends 'juzzUsuariosBundle:Accounts:base.html.twig' %}
{% trans_default_domain 'juzzUsuariosBundle' %}

{% block cardContent %}
	<p>{{'registration.confirmed'| trans({' %username%': user.getFullName()}) }}</p>
{% endblock %}