{% trans_default_domain 'juzzUsuariosBundle' %}
<p class='text-center'>
    {{"login.modal.footer.alert.text"| trans }}&nbsp;
    <a href='{{path('register')}}' title='{{"login.modal.footer.alert.link.title"|trans}}' rel="nofollow" data-toggle="tooltip" data-placement="bottom">{{"login.modal.footer.alert.link.text"|trans}}</a>
</p>