<form action="{{ path('login_check') }}" method="post">
    <div class="form-group">
    	<label for="email" class="control-label required">Username:</label>
    	<input type="email" id="email" name="email" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password" class="control-label required">Password:</label>
        <input type="password" id="password" name="password" class="form-control"/>
    </div>
    <div class="form-group">
        <input type="submit" class='btn btn-embossed btn-primary' value="Login" />
    </div>
</form>
<h5 class="text-center">o también ...</h5>
</hr>
<div>
{% include ':default:social-buttons.html.twig' %}
</div>
<p class="text-muted text-center">Juzz no publicará nada en Facebook o Twitter sin tu consentimiento</p>