<form action="{{ path('login_check') }}" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <label for="email" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
            <input type="email"  name='email' class="form-control" id="email" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
            <input type="password" name='password' class="form-control" id="password" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button type="submit" class="btn btn-embossed btn-primary pull-left">Sign in</button>
        </div>
    </div>
</form>
<h5 class="text-center">o también ...</h5>
</hr>
<div>
{% include ':default:social-buttons.html.twig' %}
</div>
<p class="text-muted text-center">Juzz no publicará nada en Facebook o Twitter sin tu consentimiento</p>