{% extends 'juzzUsuariosBundle:Accounts:base.html.twig' %}

{% block tabcontent %}
	<div  class="container tab-pane active">
	    {% if error %}
	        <div class='alert alert-danger'><span class='fa fa-exclamation-circle'></span> &nbsp; {{ error.message }}</div>
	    {% endif %}
	    {% include 'juzzUsuariosBundle:Accounts:form_login.html.twig' %}
	</div>
{% endblock %}