{% extends 'juzzUsuariosBundle:Accounts:base.html.twig' %}

{% block tabcontent %}
	<div  class="container-fluid tab-pane active">

		{{ form(form, { 'action': path('register'), 'method': 'POST','style': 'horizontal'}) }}
        {# Incluímos las social options #}
        {% include 'juzzUsuariosBundle:Accounts:partials/social-options.html.twig' %}
		
	</div>
{% endblock %}

