<section class='section section-fill'>
    <div class="container-fluid">
        <h2 class="section-title">Aprovecha tu tiempo.</h2>
        <h4 class="section-title">Aprende y Diviértete.</h4>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <figure class="effect-oscar">
                    <img src="http://static-1.ivoox.com/img/dummy/haz_deporte.png" alt="" class="img-responsive">
                    <figcaption>
                        <h2>Haz deporte</h2>
                        <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-4">
                <figure class="effect-oscar">
                    <img src="http://static-1.ivoox.com/img/dummy/en_oficina.png" alt="" class="img-responsive">
                    <figcaption>
                        <h2>En la oficina</h2>
                        <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-4">
                <figure class="effect-oscar">
                    <img src="http://static-1.ivoox.com/img/dummy/mientras_viajas.png" alt="" class="img-responsive">
                    <figcaption>
                        <h2>Mientras viajas</h2>
                        <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
                        <a href="#">View more</a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>