<section class='section section-fill'>
    <div class="container">
        <h2 class="section-title">Aprovecha tu tiempo.</h2>
        <h4 class="section-title">Aprende y Diviértete.</h4>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <figure>
                    <img src="http://static-1.ivoox.com/img/dummy/haz_deporte.png" alt="" class="img-responsive">
                    <figcaption>Haz deporte</figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-4">
                <figure>
                    <img src="http://static-1.ivoox.com/img/dummy/en_oficina.png" alt="" class="img-responsive">
                    <figcaption>En la oficina</figcaption>
                </figure>
            </div>
            <div class="col-md-4 col-sm-4">
                <figure>
                    <img src="http://static-1.ivoox.com/img/dummy/mientras_viajas.png" alt="" class="img-responsive">
                    <figcaption>Mientras viajas</figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>