<section id='section-bg-1' class="section section-main section-bg">
    <hgroup>
        <h2 class="section-title large">Escucha</h2>
        <h3 class="section-title">lo que te interesa, cuando quieras, donde quieras.</h3>
    </hgroup>
    <form class="main-form-search" autocomplete='off'>
        <div class="buscador-home">
            <input id="words_home" type="search" placeholder="Podcasts, Radio a la carta y en directo, Audiolibros, Conferencias, ... ">
            <button id="searchb_home" class="btn btn-transparent" data-main-item="AUDIO">Buscar</button>
        </div>
    </form>
    <div class="visible-md visible-lg">
        <div class="mosaic">
            <div class="slide">
                <img src="http://static-1.ivoox.com/img/dummy/img1.png">
                <img src="http://static-1.ivoox.com/img/dummy/img2.png">
            </div>
            <div class="slide">
                <img src="http://static-1.ivoox.com/img/dummy/img3.png">
            </div>
            <div class="slide">
                <img src="http://static-1.ivoox.com/img/dummy/img4.png">
                <img src="http://static-1.ivoox.com/img/dummy/img5.png">
            </div>
            <div class="slide">
                <img src="http://static-1.ivoox.com/img/dummy/img6.png">
            </div>
            <div class="slide">
                <img src="http://static-1.ivoox.com/img/dummy/img7.png">
                <img src="http://static-1.ivoox.com/img/dummy/img8.png">
            </div>
            <div class="slide">
                <img src="http://static-1.ivoox.com/img/dummy/img9.png">
            </div>
            <div class="slide">
                <img src="http://static-1.ivoox.com/img/dummy/img10.png">
                <img src="http://static-1.ivoox.com/img/dummy/img20.png">
            </div>
            <div class="slide">
                <img src="http://static-1.ivoox.com/img/dummy/img11.png">
            </div>
        </div>
    </div>
</section>