<section class="section section-fill">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <img src="{{ asset('img/devices.png') }}" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-5 text-left">
                <h2 class="section-title">Escucha<br><strong>cuando quieras<br>y donde quieras</strong></h2>
                <p class="text-lg">
                    Lorem ipsum ad his scripta blandit partiendo, eum fastidii accumsan euripidis in, eum liber hendrerit an. Qui ut wisi vocibus
                    suscipiantur, quo dicit ridens inciderint id. Quo mundi lobortis reformidans eu, legimus senserit definiebas
                    an eos. Eu sit tincidunt incorrupte definitionem, vis mutat affert percipit cu, eirmod consectetuer signiferumque
                    eu per. In usu latine equidem dolores. 
                </p>
            </div>
        </div>
    </div>
</section>