{% extends 'juzzUsuariosBundle:Accounts:base.html.twig' %}
{% trans_default_domain 'juzzUsuariosBundle' %}

{% block cardContent %}
	<p class="alert alert-success"><span class="fui-check-circle"></span>&nbsp;{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
{% endblock %}