{% extends 'juzzUsuariosBundle:Accounts:base.html.twig' %}
{% trans_default_domain 'juzzUsuariosBundle' %}

{% block tabcontent %}
	<div  class="container-fluid tab-pane active">
		<p>{{ 'resetting.check_email'|trans({'%email%': email}) }}</p>
	</div>
{% endblock %}