{% extends 'juzzUsuariosBundle:Accounts:base.html.twig' %}
{% trans_default_domain 'juzzUsuariosBundle' %}

{% block cardContent %}
	<p class="alert alert-warning"><span class="fui-alert-circle"></span>&nbsp;{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock %}