<li class="tab_item active">
    <a href="">Perfil</a>
</li>
<li class="tab_item">
    <a href="">Mi contenido</a>
</li>
<li class="tab_item">
    <a href="">Mis estadísticas</a>
</li>
<li class="tab_item">
    <a href="">Comentarios</a>
</li>
<li class="tab_item">
    <a href="">Mensajes</a>
</li>
<li class="tab_item">
    <a href="">Colaboradores</a>
</li>
<li class="tab_item">
    <a href="">Notificaciones</a>
</li>
<li class="tab_item">
    <a href="">Difusión</a>
</li>