<li class="tab_item active">
    <a href="{{ path('editar_perfil',{user:app.user.nick}) }}">Perfil</a>
</li>
<li class="tab_item">
    <a href="">Mi contenido</a>
</li>
<li class="tab_item">
    <a href="">Mis estadísticas</a>
</li>
<li class="tab_item">
    <a href="{{ path('mis_comentarios', {'user': app.user.nick}) }}">Comentarios</a>
</li>
<li class="tab_item">
    <a href="">Mensajes</a>
</li>
<li class="tab_item">
    <a href="">Colaboradores</a>
</li>
<li class="tab_item">
    <a href="">Notificaciones</a>
</li>
<li class="tab_item">
    <a href="">Difusión</a>
</li>