{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('bower_components/bootstrap-social/bootstrap-social.css') }}" charset="utf-8">
{% endblock %}
{% block main %}
	<div class="container container-md">
		<h2 class="text-center">Debes estar logado para poder publicar</h2>
		<div class="big-tabs-container">
			<ul class="nav nav-tabs" role='tablist'>
				<li>
	                <a data-toggle="tab" role="tab" href="#tab-login">Con mi cuenta</a>
	            </li>
	            <li class="active">
	                <a data-toggle="tab" role="tab" href="#tab-new-account">Crear cuenta</a>
	            </li>
			</ul>
			<div class="tab-content">

				<div id="tab-login" class="container tab-pane">
					<p>Hola que tal</p>
					<h5 class="text-center">o también ...</h5>
					</hr>
	                <div>
	    				{% include ':default:social-buttons.html.twig' %}
	    			</div>
					<p class="text-muted text-center">Juzz no publicará nada en Facebook o Twitter sin tu consentimiento</p>		
				</div>
				
				<div id="tab-new-account" class="container tab-pane  active">
					{{form(form, {'action': path('registro'), 'method': 'POST'})}}
					<h5 class="text-center">o también ...</h5>
					</hr>
	                <div>
	    				{% include ':default:social-buttons.html.twig' %}
	    			</div>
					<p class="text-muted text-center">Juzz no publicará nada en Facebook o Twitter sin tu consentimiento</p>					
				</div>
			</div>
		</div>
		
	</div>

  
{% endblock %}
