{% form_theme data.form 'bootstrap_3_layout.html.twig' %}

{{form(data.form, {'action': path('accounts',{tab:'register'}), 'method': 'POST'})}}
<h5 class="text-center">o también ...</h5>
</hr>
<div>
{% include ':default:social-buttons.html.twig' %}
</div>
<p class="text-muted text-center">Juzz no publicará nada en Facebook o Twitter sin tu consentimiento</p>