<div class="row">
	<div class="col-xs-12">
        <div id='user-list-mount-point'></div>
    <div>
<div>
{% block javascripts %}
	{{ parent() }}
    <script src="{{ asset('js/followers-bundle.min.js') }}"></script>
{% endblock %}
		