<div class="row">
	<div class="col-md-9">
		{# Carga Asíncrona de controladores #}

		{# comments wall #}
		{{ render_hinclude(controller('juzzCommentsBundle:Comments:commentsWall',{'target' : 3}), {
    		'default': 'Cargando Comentarios ...'
		}) }}
	</div>
	<!-- SIDEBAR -->
	<div class="col-md-3">
		{# Last Upload Audios #}
		{{ render_hinclude(controller('juzzEpisodiosBundle:Episodios:lastUploadedEpisodes',{'idUser' : 3}), {
    		'default': 'Cargando Últimos Episodios ...'
		}) }}

		{# Current User Followers #}
		{{ render_hinclude(controller('juzzUsuariosBundle:Default:followers'), {
    		'default': 'Cargando ...'
		}) }}
	</div>
</div>