{% extends 'juzzUsuariosBundle:PrivateZone:base.html.twig' %}

{% block tabContent %}

    {# Incluimos formulario cambio de email #}
    {% include 'juzzUsuariosBundle:PrivateZone:change-email.html.twig' %}

    {# Incluimos formulario cambio de imagen de perfil #}
    {% include 'juzzUsuariosBundle:PrivateZone:change-profile-background.html.twig' %}    

    <div class="container">

        {{ render_flash_alerts() }}
        <!--<div class="row">
            
            <div class="col-md-3">
                <h2 class="section-title text-center">Mi Perfil</h2>
            </div>
            <div class="col-md-3 col-md-offset-4">
                <h4 class="text-center">Te uniste el : {{ user.ingreso | date('Y-m-d') }}</h4>
            </div>
        </div>-->
        
        <div class="container-card">
            <h2 class="text-center">Edita los datos de tu perfil</h2> 

            <div class="row">
                <div class="col-sm-12">
                    {{ form(edit_form, { 'action': path('editar_perfil',{user:user.nick}), 'method': 'POST','style': 'horizontal'}) }}
                </div>
            </div>
           
            
            <div class="row">
                <div class="col-md-8">
                    <a data-toggle="modal" href="#changeEmail">
                        <span class='glyphicon glyphicon-envelope'></span>&nbsp;
                        <span class="hidden-sm">Cambiar Email</span>
                    </a>
                    <a data-toggle="modal" href="#changeProfileBackground">
                        <span class='glyphicon glyphicon-envelope'></span>&nbsp;
                        <span class="hidden-sm">Cambiar Foto Perfil</span>
                    </a>
                </div>
            </div>

        </div>

    </div>
	
	
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">
        $(function(){
            $("select").select2({dropdownCssClass: 'dropdown-inverse'});
        })
    </script>
{% endblock %}

