<div class="row">
    <div class="col-md-8">
        <a data-toggle="modal" href="#changeEmail">
            {{ icon('envelope') }}&nbsp;
            <span class="hidden-sm">Cambiar Email</span>
        </a>
        <a data-toggle="modal" href="#changePassword">
            {{ icon('lock') }}&nbsp;
            <span class="hidden-sm">Cambiar Contraseña</span>
        </a>
    </div>
</div>