<div class="row">
    <div class="col-md-8">
        <a data-toggle="modal" href="#changeEmail">
            <span class='glyphicon glyphicon-envelope'></span>&nbsp;
            <span class="hidden-sm">Cambiar Email</span>
        </a>
        <a data-toggle="modal" href="#changeProfileBackground">
            <span class='glyphicon glyphicon-envelope'></span>&nbsp;
            <span class="hidden-sm">Cambiar Foto Perfil</span>
        </a>
    </div>
</div>