body {
  background-color:#F9F9F9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-family: 'Comfortaa', cursive;
  position: relative;
  overflow-x: hidden;
  padding-top: 54px;
}

h2{font-size: 3rem;}
h4{font-size: 1.8rem;}
h5{font-size: 1.6rem;}